<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265659893259-ugqhi8an38agi6ustgn2vfe4ejmkmqbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265659893259-ugqhi8an38agi6ustgn2vfe4ejmkmqbj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265659893259-q2v8r03auqontbsqq9tgnaicfcfe1bru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArMtC2zfP0iNd4Q2vao0Fj7NqJL9KcnyY</string>
	<key>GCM_SENDER_ID</key>
	<string>265659893259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.persorize.beta</string>
	<key>PROJECT_ID</key>
	<string>persorize14</string>
	<key>STORAGE_BUCKET</key>
	<string>persorize14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265659893259:ios:1a49453bbce93370ffe90e</string>
</dict>
</plist>